@import "tailwindcss";

:root {
  --palette-1: #36611C;
  --palette-2: #45891E;
  --palette-3: #65C132;
  --palette-4: #192a3d;
  --palette-5: #EAFDE7;
  --palette-6: #f2f5f7;
  --palette-7: #00312D;
  --palette-8: #ffffff;
  --container-max: 1290px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'SoinSans', 'Plus Jakarta Sans', system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.65;
  color: var(--palette-7);
  background: radial-gradient(rgb(255,255,255) 15%, rgb(234,253,231) 91%);
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  color: var(--palette-7);
  line-height: 1.5;
}

h1 { font-size: 40px; }
h2 { font-size: 35px; }
h3 { font-size: 25px; }
h4 { font-size: 25px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

.container-site {
  max-width: var(--container-max);
  margin: 0 auto;
  padding: 0 35px;
}

@media (max-width: 690px) {
  :root {
    --container-site-padding: 20px;
  }
  .container-site { padding: 0 20px; }
  h1 { font-size: 30px; }
  h2 { font-size: 22px; }
  h3 { font-size: 24px; }
  h4 { font-size: 20px; }
}
